.notification_hide {
  padding: 0.3em 2em;
  position: fixed;
  top: 3em;
  left: -51em;
  z-index: 5;
  box-shadow: 0 0 10px #9b9b9b;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50em;
  border-left: 3px solid;
  background-color: #fff;
  color: #00d10a;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.5s;
}

.notification_display {
  padding: 0.3em 2em;
  position: fixed;
  top: 3em;
  left: 10.8rem;
  z-index: 5;
  box-shadow: 0 0 10px #9b9b9b;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50em;
  border-left: 3px solid;
  background-color: #fff;
  color: #00d10a;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.5s;
}

.notification_remove {
  cursor: pointer;
  color: #808080;
  font-size: 1.1rem;
}

.notification_remove:hover {
  color: #000;
}

@media (max-width: 500px) {
  .notification_hide {
    top: 1em;
    left: -20em;
    height: 4em;
    width: 20em;
    font-size: 1.1rem;
    font-weight: 600;
    border-left: 2px solid;
  }

  .notification_display {
    top: 1em;
    left: 1em;
    height: 4em;
    width: 20em;
    font-size: 1.1rem;
    font-weight: 600;
    border-left: 2px solid;
  }
}
