.home_page {
  background-color: #f8f9fa;
}

.home_page header {
  height: 20vh;
  background: #2890ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_page header h1 {
  color: #f8f9fa;
  font-size: 3em;
}

.home_page section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.img_container img {
  width: 600px;
}

.homepage_info {
  height: 350px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -1em;
}

.homepage_info h1 {
  font-size: 3em;
  color: #007bff;
}

.homepage_info .description p {
  font-size: 1.2rem;
  color: #323232;
}

.homepage_info .description {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.description a {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1em;
  background-color: #007bff;
  color: #f8f9fa;
  cursor: pointer;
  padding: 0.4em 1em;
  border-radius: 3px;
}

.description a:hover {
  background-color: #0056b3;
}

.description a i {
  margin-left: 5px;
}
