.cart {
  margin-top: 5em;
  padding: 3em;
}

.cart header {
  margin-bottom: 2em;
}

.cart .go_back a {
  display: flex;
  cursor: pointer;
  color: #464545;
  font-weight: bold;
}

.cart .go_back a:hover {
  color: #000;
}

.cart .go_back a i {
  margin-right: 0.8em;
}

.cart section {
  color: #313131;
}

.cart section h1 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.3em;
}

.cart .cart_container {
  display: flex;
  margin-top: 4em;
}

.cart .cart_container .cart_items {
  width: 40em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product_in_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 18em;
  height: 20em;
  background-color: #fff;
  box-shadow: 0 0 20px #c2c1c1;
  margin-bottom: 1.5em;
  border-radius: 5px;
  overflow: hidden;
}

.product_in_cart .img_container {
  overflow: hidden;
}

.product_in_cart .img_container img {
  width: 12em;
  max-height: 9em;
}

.product_in_cart .info_container .price_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #464545;
}

.info_container .price_rating {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.2em;
}

.info_container .price_rating span i {
  color: #ffd000;
  font-weight: bold;
}

.info_container .remove_to_cart {
  background-color: #313131;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  padding: 0.8em 0;
  border-radius: 20px;
  margin-top: 1.8em;
  width: 17em;
}

.info_container .remove_to_cart:hover {
  background-color: #464545;
}

.cart_container .price_detail {
  width: 30em;
  margin-left: 6em;
}

.cart_container .price_detail h2 {
  margin-bottom: 1em;
}

.price_detail .detail_container .list_type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
  font-weight: 600;
  color: #464545;
}

.price_detail .detail_container .order_total {
  display: flex;
  justify-content: space-between;
  margin-top: 2.2em;
  font-weight: 600;
  color: #464545;
}

.price_detail .place_order {
  width: 100%;
  padding: 0.8em 0;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  background-color: #f14949;
  padding: 1em 0;
  margin-top: 2.5em;
  font-size: 0.8em;
}

.price_detail .place_order:hover {
  background-color: #f53131;
}

.empty_cart {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.empty_cart h1 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.7em;
}

.empty_cart p {
  color: #464545;
  line-height: 1.5em;
}

.empty_cart a {
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313131;
  color: #fff;
  padding: 0.5em 1em;
  margin-top: 3em;
  border-radius: 20px;
}

.empty_cart a p {
  color: #fff;
  margin-left: 0.5em;
}

.empty_cart a:hover {
  background-color: #464545;
}

@media (max-width: 500px) {
  .cart {
    padding: 1.5em;
  }
  .cart .cart_container {
    flex-direction: column;
    align-items: center;
  }

  .cart .cart_container .cart_items {
    width: 20em;
  }

  .product_in_cart {
    width: 20em;
    height: 20em;
    margin-bottom: 1.5em;
  }

  .cart_container .price_detail {
    margin-top: 3em;
    width: 100%;
    margin-left: 0;
  }
}
