.card {
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 16rem;
  height: 20.5rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px #c2c1c1;
  transition: 0.4s;
}

.card_details {
}

.card:hover {
  transform: translateY(-7px);
}

.card_img {
  width: 11rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.card_title {
  margin-bottom: 1rem;
  color: #5c5b5a;
  cursor: pointer;
}

.card_title:hover {
  color: #202020;
}

.card_reviews {
  margin-bottom: 1rem;
  display: flex;
}

.card_reviews span {
  font-weight: bold;
  color: #6b6b6b;
  margin-left: -0.2em;
}

.card_reviews i {
  color: #ffd000;
  font-weight: bold;
}

.total_reviews {
  font-size: 0.9rem;
  margin-left: 10px;
  font-weight: bold;
}

.card_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_price .price {
  font-weight: bold;
  color: #3f3f3f;
  font-size: 1.1rem;
}

.card_price .price del {
  font-size: 0.9em;
}

.card_price .bag:hover {
  color: #000;
}

.loader_card {
  width: 16rem;
  height: 20.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0px 10px #9b9b9b;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px 30px;
}

.loader_card_img {
  width: 11em;
  height: 8em;
  background-color: #e9e9e9;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.loader_cart_title,
.loader_cart_price {
  width: 11em;
  height: 1.5em;
  background-color: #e9e9e9;
  border-radius: 5px;
}

.loader_cart_star {
  width: 5em;
  height: 1.5em;
  background-color: #e9e9e9;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .card {
    margin-bottom: 30px;
    margin-right: 0;
    width: 90vw;
    height: 28em;
  }

  .card_img {
    width: 17rem;
  }

  .card_details {
    width: 17rem;
  }

  .card_title {
    font-size: 1.4rem;
  }

  .card_price .price {
    font-size: 1.4rem;
  }

  .card_price .price del {
    font-size: 0.8em;
  }

  .card_price .bag {
    font-size: 1.2rem;
  }

  .loader_card {
    width: 90vw;
    height: 28rem;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .loader_card_img {
    width: 17em;
    height: 12em;
    margin-bottom: 2.5em;
  }

  .loader_cart_title,
  .loader_cart_price {
    width: 17em;
    height: 1.8em;
  }

  .loader_cart_star {
    width: 5em;
    height: 1.5em;
  }
}
