.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #f3f3f3;
  padding: 1em 0;
  z-index: 2;
  position: sticky;
  top: 0;
}

.header .logo {
  padding-left: 4em;
  width: 13vw;
}

.header .header_container {
  width: 87vw;
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
}

.header_search input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  width: 14rem;
}

.right_side {
  width: 7rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_side span {
  padding: 1px 5px;
  border-radius: 12px;
  float: right;
  margin-left: -10px;
  margin-top: -10px;
  background-color: #fc0505;
  color: #fff;
  font-weight: 600;
  font-size: small;
  position: relative;
  z-index: 2;
}

.right_side i {
  font-size: 1.5rem;
}

.right_side i:hover {
  color: #000;
}
