.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #f3f3f3;
  width: 100%;
  height: 5em;
  padding: 1em 0;
  z-index: 2;
  position: fixed;
  top: 0;
}

.header_without_user {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #f3f3f3;
  width: 100%;
  height: 5em;
  padding: 1em 0;
  position: relative;
}

.logo {
  margin-left: 3.5em;
  overflow: hidden;
}

.logo img {
  width: 4em;
}

.right_side {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12em;
}

.right_side span {
  padding: 1px 5px;
  border-radius: 12px;
  background-color: #fc0505;
  color: #fff;
  font-weight: 600;
  font-size: small;
  position: relative;
  float: right;
  left: -10px;
  top: -10px;
  z-index: 2;
}

.right_side i {
  font-size: 1.5rem;
}

.right_side i:hover {
  color: #000;
}

@media (max-width: 900px) {
  .logo {
    margin-left: 2em;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 1em;
  }

  .header_without_user {
    padding: 1em;
  }

  .logo {
    margin-left: 0;
  }
  .logo img {
    width: 3em;
  }

  .header .header_container {
    padding: 0 0.5em;
  }

  .header_search input {
    padding: 8px 12px;
    width: 12rem;
  }

  .right_side {
    width: 5em;
    justify-content: space-between;
  }

  .right_side span {
    padding: 2px 5px;
    font-weight: 200;
    font-size: 0.6rem;
    left: -9px;
    z-index: 2;
  }

  .right_side i {
    font-size: 1.3rem;
  }
}
