.sideBar {
  width: 11rem;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  border-right: 2px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  color: #3b3b3b;
  padding: 5.5em 2em;
  transition: 0.5s;
}

.filter_type h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.filter_box label .checkmark {
  margin-left: 10px;
}

.filter_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8.2rem;
}

.filter_box input {
  cursor: pointer;
}

@media (max-width: 500px) {
  .sideBar {
    position: fixed;
    left: -12em;
    top: 0;
    transition: 0.5s;
  }
}
