.sideBar {
  width: 11rem;
  height: 100%;
  position: fixed;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  color: #3b3b3b;
}

.sideBar .logo {
  margin-top: 20px;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
}

.filter_type h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.filter_box label .checkmark {
  margin-left: 10px;
}

.filter_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8rem;
}

/* .category_type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8.5rem;
} */
