.product_details {
  margin-left: 3em;
  margin-top: 25px;
}

.product_details header {
  margin-bottom: 4em;
}

.product_details .go_back a {
  display: flex;
  cursor: pointer;
  color: #464545;
  font-weight: bold;
}

.product_details .go_back a:hover {
  color: #000;
}

.product_details .go_back a i {
  margin-right: 0.8em;
}

.product_details section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_img img {
  width: 550px;
}

.product_details section .product_info {
  width: 30em;
}

.product_info .name_category {
  margin-bottom: 1em;
}

.product_info .name_category h2 {
  font-size: 1.7em;
  font-weight: 700;
  color: #313131;
}

.product_info .name_category p {
  color: #464545;
  font-weight: 600;
}

.product_info .company p {
  font-weight: 600;
  color: #464545;
}

.product_details .price {
  display: flex;
  align-items: center;
  margin-top: 1.4em;
}

.product_details .price del {
  color: #464545;
  font-weight: 600;
  font-size: 1.5em;
  margin-right: 0.5em;
}

.product_details .price h1 {
  color: #313131;
  font-size: 2em;
}

.rating_review {
  margin-top: 1.4em;
  color: #464545;
}

.rating_review span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 0.5em;
}

.rating_review span i {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffd000;
}

.rating_review p {
  font-size: 0.9em;
  margin-bottom: 3px;
}

.btn_box {
  display: flex;
  margin-top: 2em;
}

.btn_box button {
  width: 12em;
  padding: 0.8em 0;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
}

.btn_box .buy_now {
  margin-left: 1.3em;
  background-color: #313131;
}

.btn_box .buy_now:hover {
  background-color: #464545;
}

.btn_box .add_to_cart {
  background-color: #fff;
  color: #313131;
  border: 1px solid;
}

.btn_box .added_to_cart {
  background-color: #fff;
  color: #313131;
  cursor: auto;
}

.product_details footer {
  margin-top: 2.5em;
  color: #313131;
}

.product_details footer h1 {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0.3em;
}

.product_details footer .similar_product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
  margin-right: 1.8em;
  z-index: -2;
  background-color: #f8f9fa;
}
