* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
  color: #5e5e5e;
}

li {
  list-style: none;
}

input {
  outline-color: #5e5e5e;
}

button {
  cursor: pointer;
  color: #fff;
  border: none;
}
